@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Noto+Kufi+Arabic:wght@300;400;500;600;700&family=Noto+Sans+Arabic&display=swap');

body {
    background: #E7F2F3;
    color: #000000;
    font-family: 'Cairo';
    font-weight: 400;
}

.myDiv {
    display: flex;
}


select:disabled {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
    opacity: 0.7;
    border-color: rgba(118, 118, 118, 0.3);
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-style: none !important;
}

.container .sectiontitle h2 {
    font-size: 30px;
    line-height: 56px;
    color: #3E9BA4;
}


.container .sectiontitle p {
    font-size: 17px;
    text-align: justify;
}

.accordion-item {
    border: 0;
}

.divaccordion-body {
    margin-top: -2px;
    border: 1px solid #aaaaaa69;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.accordion-button:not(.collapsed)::before {
    transform: rotate(-90deg);
}

.accordion-button::before {
    flex-shrink: 0;
    margin: 0 5px;
    width: 1.25rem;
    height: 1.25rem;
    content: "" !important;
    background-image: url("../images/arrow_sign_icon.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button::after {

    content: none;
}

.accordion-button {
    color: #030507;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(43, 141, 148, 0.31774) 0.01%, #2B8D94 30.21%) !important;

    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
    padding: 0.2rem 1.25rem;
    color: #fff !important;
    font-weight: bold !important;
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
    height: 29px;
}

.accordion-button.collapsed {
    border-radius: 7px !important;

}

.form-select {
    margin: 0px 15px;
    padding: 0 1.25rem 0 0;

    background-color: #f3f3f3;

    background-position: left 0.75rem center;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0;
}


.form-check .form-check-input {
    float: right;
    margin: 4px 10px;
}

.lable-title {
    width: 110px;
}



.tooltip2 {
    width: 330px;
    position: absolute;
    color: rgb(0, 0, 0);
    display: flex;
    height: fit-content;
    background: rgb(255, 255, 255);
    z-index: 2;
    opacity: 0;
    right: 0;
    padding: 10px;
    pointer-events: none;
    border: 1px solid rgba(169, 169, 169, 0.754);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

label:hover .tooltip2 {
    opacity: 1;
}

.section2 .postion {
    position: relative;
}

.form-control {
    width: 30%;
    background: #f3f3f3;
    border: 1px solid #bfbfbf;
    height: 25px;
}

.form-label {
    width: 120px;
}

.form-text {
    font-size: 12px;
    color: #09F;
}

#show1,
#show2,
#show3,
#showsection1,
#showsection2,
#numbersubscribersaccount {
    display: none;
}



#collapseOne h3 {
    font-size: 18px;
    color: #0A6E79;
    font-weight: bolder;
}

.btn-secondary {
    color: #000000 !important;
    background-color: #E9E9E9;
    border-color: #3C969C;
}

.btn-secondary:hover {
    background-color: #d9d8d8;
}

/* .mySwiper img {
    width: 100px;
    height: 100px;
} */

.h2swiper {
    color: #027b87;
    font-weight: 700;
    font-size: 1.6em;
    line-height: 1.3;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 29px !important;
    color: black;
}

footer h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    color: #037383;
}

footer h5 {
    color: #535353;
    font-weight: 500;
    font-size: 30px;
    line-height: 56px;
}

footer ul li i {
    color: #6D6D6D;
}

footer .p p {
    font-size: 18px;
    line-height: 26px;
    color: #979797;
}

footer .links p {
    color: #6D6D6D;
    font-weight: 500;
    font-size: 30px;
    line-height: 56px;
}

footer .links i {
    color: #6D6D6D;
    font-size: 30px;
}

footer ul li a {
    color: #535353;
    text-decoration: none;
}

footer ul li {
    border-bottom: 1px solid #D9D9D9;
    line-height: 36px;
}

footer .list-unstyled {
    padding: 0 !important;
}


@media screen and (min-width: 992px) {
    .form-select {
        width: 20%;
    }

    label:hover .tooltip2 {
        right: 40%;
    }
}

@media screen and (max-width: 767px) {
    .form-select {
        width: 55%;
    }

    .tooltip2 {
        display: none;
    }

    footer .p p {
        display: inline-block;
        margin: 0 15px;

    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .form-select {
        width: 20%;
    }

    .tooltip2 {
        display: none;

    }

    footer .p p {
        display: inline-block;
        margin: 0 20px;
    }
}

/* @media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 925px;
    }
} */