@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
    font-family: 'Tajawal';
    /* font-family: 'Tajawal', sans-serif; */
    font-weight: 400;
    color: black;
}

.titlepage {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0em;
}

.page .bg2 nav {
    background-color: white;
}

.page .titlepage p,
.page .titlepage span {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 52, 52, 1);

}

.page .imagessection p {
    /* font-size: 36px; */
    font-size: 31px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    color: rgba(9, 67, 139, 1);
}

.page .imagessection table caption,
.page .imagessection .title p {
    color: white;
    background: linear-gradient(180deg, #09438B 61.74%, rgba(9, 67, 139, 0.71) 161.74%);

    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}


/* **********************************************************8 */

.page .card {
    border: none;
    height: 100%;
}

.page .card .card-body {
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: space-between;
}

.page .card h5 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(61, 70, 77, 1);
}

.page .card p {
    font-size: 29px;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: justified;
    color: rgba(102, 102, 102, 1);
}

.page .card .card-body a {
    color: rgba(9, 67, 139, 1) !important;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
}

.page .card .card-body .date {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(208, 208, 208, 1);
}



/* **********************************************************8 */

.page .details p {
    font-size: 36px;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: justified;
    color: rgba(102, 102, 102, 1);
}

/* **********************************************************8 */




.myDiv {
    display: flex;
}

table td {
    width: 300px;

}


table tfoot td {
    font-size: 20px;
    font-weight: bold;
}

select:disabled {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
    opacity: 0.7;
    border-color: rgba(118, 118, 118, 0.3);
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-style: none !important;
}

.container .sectiontitle h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    color: rgba(51, 52, 52, 1);
}


.container .sectiontitle p {
    font-size: 32px;
    font-weight: 500;
    line-height: 67px;
    letter-spacing: 0em;
    color: rgba(102, 102, 102, 1);
    ;
    text-align: justify;
}

.accordion-item {
    border: 0;
}

.divaccordion-body {
    margin-top: -2px;
    border: 1px solid #aaaaaa69;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.accordion-button:not(.collapsed)::before {
    transform: rotate(-90deg);
}

.accordion-button::before {
    flex-shrink: 0;
    margin: 0 5px;
    width: 1.25rem;
    height: 1.25rem;
    content: "" !important;
    background-image: url("../images/arrow_sign_icon.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button::after {

    content: none;
}

.accordion-button {
    /* color: #030507; */

    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(43, 141, 148, 0.31774) 0.01%, #2B8D94 30.21%) !important; */
    background: linear-gradient(180deg, #09438B 0%, rgba(9, 67, 139, 0.71) 100%);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
    padding: 0.2rem 1.25rem;
    color: #fff !important;
    font-weight: bold !important;
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
    height: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
}

.accordion-button.collapsed {
    border-radius: 7px !important;

}

.form-select {
    margin: 0px 15px;
    padding: 0 1.25rem 0 0;

    background-color: #f3f3f3;

    background-position: left 0.75rem center;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0;
}


.form-check .form-check-input {
    float: right;
    margin: 4px 10px;
}

.lable-title {
    /* width: 110px; */
    width: 235px;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
}



.tooltip2 {
    width: 330px;
    position: absolute;
    color: rgb(0, 0, 0);
    display: flex;
    height: fit-content;
    background: rgb(255, 255, 255);
    z-index: 2;
    opacity: 0;
    right: 0;
    padding: 10px;
    pointer-events: none;
    border: 1px solid rgba(169, 169, 169, 0.754);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

label:hover .tooltip2 {
    opacity: 1;
}

.section2 .postion {
    position: relative;
}

.pageindex .form-control {
    width: 30%;
    background: #f3f3f3;
    border: 1px solid #bfbfbf;
    height: 32px;
}

.form-label {
    width: 120px;
}

.form-text {
    font-size: 12px;
    color: #09F;
}

#show1,
#show2,
#show3,
#showsection1,
#showsection2,
#numbersubscribersaccount {
    display: none;
}



#collapseOne h3 {
    font-size: 18px;
    color: #0A6E79;
    font-weight: bolder;
}

.btn-secondary {
    color: white !important;
    background: rgba(9, 67, 139, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
}

.btn-secondary:hover {
    background-color: rgba(9, 68, 139, 0.795);
    ;
}


.imgfooter {
    position: relative;
    margin-top: 110px;
    ;
}

.imgfooter svg {
    position: absolute;
    bottom: 0;
    height: 96px;
    fill: rgba(2, 123, 135, 0.099);
    width: 100%;

}

.mySwiper .img-fluid {

    max-width: 157px !important;
    height: 67px !important;
    filter: grayscale(100%);
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
    display: none;

}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
    font-size: 20px !important;
    color: black;
    font-weight: bold;
}

.mySwiper:hover {
    cursor: pointer;
}



.mySwiper .img-fluid:hover {
    filter: grayscale(0);
}

footer {
    font-family: "Tajawal", sans-serif;
    background: #E7F2F3;

}



.h2swiper {
    color: rgba(9, 67, 139, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;


}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 29px !important;
    color: black;
}



footer h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    color: #037383;
}

footer h5 {
    /* color: #555; */
    color: rgba(104, 104, 104, 1);
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;

}

footer ul li i {
    color: #6D6D6D;
    font-size: 12px;
    ;
    margin-left: 10px;
}

footer .p p {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: right;
color: rgba(102, 102, 102, 1);    ;
}

footer .links p {
    color: #777777;
    font-weight: 500;
    margin-bottom: 0 !important;
    font-size: 16px;
}

footer .links i {
    color: #777777;
    font-size: 15px;
    line-height: 56px;
}

footer ul li a {
    color: #777777;
    text-decoration: none;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: right;

}


footer ul li {
    border-bottom: 1px solid rgba(208, 208, 208, 1);
    line-height: 36px;
}

footer .list-unstyled {
    padding: 0 !important;
}


@media screen and (min-width: 992px) {
    .form-select {
        width: 20%;
    }

    label:hover .tooltip2 {
        right: 40%;
    }
}

@media screen and (max-width: 767px) {
    .form-select {
        width: 55%;
    }

    .tooltip2 {
        display: none;
    }

    footer .p p {
        display: inline-block;
        margin: 0 15px;

    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .form-select {
        width: 20%;
    }

    .tooltip2 {
        display: none;

    }

    footer .p p {
        display: inline-block;
        margin: 0 20px;
    }
}

/* @media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 925px;
    }
} */