/* @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
    font-family: 'Tajawal';
    /* font-family: 'Tajawal', sans-serif; */
    font-weight: 400;
    color: black;
}

/* .titlepage {
    font-size: 22px;
    color: rgb(124 124 124);
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
} */

.page .bg2 nav {
    background-color: white;
}

.titlepage,
.page .titlepage a,
.page .titlepage span {

    text-decoration: none;
    font-size: 17px;
    color: rgb(124 124 124);
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;

}

.page .imagessection .btn-warning,
.page .imagessection .btn-light {
    font-weight: 700;
    font-size: 18px;

}

.page .imagessection p {
    /* font-size: 36px; */
    font-size: 20px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    color: rgba(9, 67, 139, 1);
    text-align: center;
}

.page .imagessection table caption,
.page .imagessection .title p,
.page .accordiontable .accordion .accordion-item h2 button {
    color: white;
    background: linear-gradient(180deg, #09438B 61.74%, rgba(9, 67, 139, 0.71) 161.74%);
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: start;
}


.page .imagessection img {
    width: 100% !important;
}


.page .imagessection .blue a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0em;
}

.page .imagessection .blue {
    background: rgba(9, 67, 139, 1);
    text-align: center;
}

.page .imagessection .yellow {
    background: rgba(245, 172, 55, 1);
    text-align: center;
    font-size: 24px;
    color: white;
}

.page .imagessection .light {
    text-align: center;
    font-size: 24px;
    color: rgba(175, 204, 221, 1);
    background: rgba(223, 238, 244, 1);
}

/* **********************************************************8 */

.page .card {
    border: none;
    height: 100%;
}

.page .card .card-body {
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: space-between;
}

.page .card h5 {
    font-size: 17px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(61, 70, 77, 1);
}

.page .card p {
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: justified;
    color: rgba(102, 102, 102, 1);
}

.page .card .card-body a {
    color: rgba(9, 67, 139, 1) !important;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
}

.page .card .card-body .date {
    font-size: 13px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(208, 208, 208, 1);
}



/* **********************************************************8 */

.page .details p {
    /* font-size: 40px; */
    /* font-size: 1.6em;
    line-height: 55px; */
    font-size: 1.3em;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: justified;
    color: rgba(102, 102, 102, 1);
}

/* **********************************************************8 */
.page .tablepae table thead tr th {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    padding: 122px 0 0 0;
    color: rgba(61, 70, 77, 1);
}



.page .tablepae table tbody tr th:first-child {
    width: 18%;
    background-color: rgba(224, 234, 246, 1);
    font-size: 13px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: .1px;
    text-align: right;
    color: rgba(51, 52, 52, 1);
}

.page .tablepae table tbody tr td {
    font-size: 19px;
    font-weight: 500;
    padding: 5% 0;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(61, 70, 77, 1);
}








/* **********************************************************8 */

/* .accordiontable .accordion .accordion-item .accordion-header button {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: right;
} */

.accordiontable .accordion .accordion-item .accordion-body {
    /* padding: 1rem 1.25rem;*/
    padding: 0 !important
}

.accordiontable .accordion .accordion-item .accordion-button::after {
    margin-right: auto;
    margin-left: 0 !important;
}

.accordiontable .accordion .accordion-item .accordion-collapse .accordion-body p {
    font-size: 15px;
    padding: 1rem 1.25rem;
    background: rgba(245, 245, 245, 1);
    line-height: 29px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(51, 52, 52, 1);
}


/* **********************************************************8 */


.page .contactus div {
    border: 4px solid rgba(224, 234, 246, 1);
    border-radius: 15px;
    padding: 10px 24px;
    font-size: 1.3em;
    line-height: 20px;
    letter-spacing: 0em;
    font-weight: 400;
    text-align: center;
    color: rgba(51, 51, 51, 1);
}

.page p.pcontacuss {
    font-size: 1.3em;
    line-height: 20px;
    letter-spacing: 0em;
    font-weight: 400;
    text-align: center;
    color: rgba(51, 51, 51, 1);
}

.page .sectiontitle .circle {
    width: 50px;
    height: 50px;
    background: rgba(215, 230, 248, 0.71);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagecontactus form {
    color: rgba(0, 0, 0, 1);
}

.pagecontactus form input::placeholder,
.pagecontactus form textarea {
    color: rgba(192, 183, 183, 1) !important;
    font-family: Tajawal;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

.pagecontactus form label {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(0, 0, 0, 1);
}

/* ************************************************************* */

.vision h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    color: rgba(9, 67, 139, 1);
}

.vision .row.box {
    border: 4px solid rgba(224, 234, 246, 1);
    border-radius: 20px;
}

.vision p {
    font-size: 15px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: justified;
    color: rgba(0, 0, 0, 1);
}



.pagecontactus form textarea {
    height: 140px;
}

.pagecontactus form .send input {
    background: rgba(9, 67, 139, 1);
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
}

.page .contactus div .pcontacus {
    color: rgba(9, 67, 139, 1);
}


/* **********************************************************8 */

.jobpage table {
    font-family: Tajawal;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: right;
}


.jobpage .table-job table th {
    width: 36%;
}

.jobpage .table-job table tbody tr th:last-child {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.jobpage .table-job table tbody tr th:last-child button {
    position: absolute;
    top: 35%;
    left: 9%;
}

.jobpage p.jobtitle {
    color: rgba(9, 67, 139, 1);
}

.jobpage p.jobaddress {
    color: rgba(51, 52, 52, 1);
}

.jobpage p.jobdate {
    color: rgba(208, 208, 208, 1);
}











/* **********************************************************8 */

.pageindex .myDiv {
    display: flex;
}

.pageindex table td {
    width: 300px;

}


.pageindex table tfoot td {
    font-size: 20px;
    font-weight: bold;
}

.pageindex select:disabled {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
    opacity: 0.7;
    border-color: rgba(118, 118, 118, 0.3);
}

.pageindex tbody,
.pageindex td,
.pageindex tfoot,
.pageindex th,
.pageindex thead,
.pageindex tr {
    border-style: none !important;
}

.page .container .sectiontitle h2 {
    /* font-size: 48px; */
    font-size: 28px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    color: rgba(51, 52, 52, 1);
}


.pageindex .container .sectiontitle p {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0em;
    color: rgba(102, 102, 102, 1);
    ;
    text-align: justify;
}

.pageindex .accordion-item {
    border: 0;
}

.pageindex .divaccordion-body {
    margin-top: -2px;
    border: 1px solid #aaaaaa69;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.pageindex .accordion-button:not(.collapsed)::before {
    transform: rotate(-90deg);
}

.pageindex .accordion-button::before {
    flex-shrink: 0;
    margin: 0 5px;
    width: 1.25rem;
    height: 1.25rem;
    content: "" !important;
    background-image: url("../images/arrow_sign_icon.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.pageindex .accordion-button::after {

    content: none;
}

.pageindex .accordion-button {

    background: linear-gradient(180deg, #09438B 0%, rgba(9, 67, 139, 0.71) 100%);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
    padding: 0.2rem 1.25rem;
    color: #fff !important;
    font-weight: bold !important;
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
    height: 38px;
    font-size: 18px;
    line-height: 43px;
    letter-spacing: 0em;
}

.pageindex .accordion-button.collapsed {
    border-radius: 7px !important;

}

.pageindex .form-select {
    margin: 0px 15px;
    padding: 0 1.25rem 0 0;

    background-color: #f3f3f3;

    background-position: left 0.75rem center;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0;
}


.pageindex .form-check .form-check-input {
    float: right;
    margin: 4px 10px;
}

.pageindex .lable-title {
    /* width: 110px; */
    width: 195px;
    font-size: 22px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
}



.pageindex .tooltip2 {
    width: 330px;
    position: absolute;
    color: rgb(0, 0, 0);
    display: flex;
    height: fit-content;
    background: rgb(255, 255, 255);
    z-index: 2;
    opacity: 0;
    right: 0;
    padding: 10px;
    pointer-events: none;
    border: 1px solid rgba(169, 169, 169, 0.754);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.pageindex label:hover .tooltip2 {
    opacity: 1;
}

.pageindex .section2 .postion {
    position: relative;
}

.pageindex .form-control {
    width: 30%;
    background: #f3f3f3;
    border: 1px solid #bfbfbf;
    height: 32px;
}

.pageindex .form-label {
    width: 120px;
}

.form-text {
    font-size: 12px;
    color: #09F;
}

#show1,
#show2,
#show3,
#showsection1,
#showsection2,
#numbersubscribersaccount {
    display: none;
}



#collapseOne h3 {
    font-size: 18px;
    color: #0A6E79;
    font-weight: bolder;
}

.btn-secondary {
    color: white !important;
    background: rgba(9, 67, 139, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
}

.btn-secondary:hover {
    background-color: rgba(9, 68, 139, 0.795);
    ;
}


.imgfooter {
    position: relative;
    margin-top: 110px;
    ;
}

.imgfooter svg {
    position: absolute;
    bottom: 0;
    height: 96px;
    fill: rgba(2, 123, 135, 0.099);
    width: 100%;

}

.mySwiper .img-fluid {

    max-width: 157px !important;
    height: 67px !important;
    filter: grayscale(100%);
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
    display: none;

}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
    font-size: 20px !important;
    color: black;
    font-weight: bold;
}

.mySwiper:hover {
    cursor: pointer;
}



.mySwiper .img-fluid:hover {
    filter: grayscale(0);
}

footer {
    background: rgba(224, 234, 246, 1);
    ;

}



.h2swiper {
    color: rgba(9, 67, 139, 1);
    /* font-size: 48px; */
    font-size: 1.6em;
    font-weight: 700;
    padding: 0 47px;
    line-height: 58px;
    letter-spacing: 0em;


}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 29px !important;
    color: black;
}



footer h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    color: #037383;
}

footer h5 {
    color: #555;
    /* color: rgba(104, 104, 104, 1); */
    /* font-size: 36px; */
    font-size: 1em;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;

}

footer ul li i {
    color: #6D6D6D;
    font-size: 12px;
    ;
    margin-left: 10px;
}

footer .p p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: right;
    color: rgb(140 140 140);
}

footer .links p {
    color: #777777;
    font-weight: 500;
    margin-bottom: 0 !important;
    font-size: 16px;
}

footer .links i {
    color: #777777;
    font-size: 15px;
    line-height: 56px;
}

footer ul li a {
    color: #777777;
    text-decoration: none;
    /* font-size: 24px; */
    font-size: 90%;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: right;

}


footer ul li {
    border-bottom: 1px solid rgba(208, 208, 208, 1);
    line-height: 36px;
}

footer .list-unstyled {
    padding: 0 !important;
}


@media screen and (min-width: 992px) {
    .form-select {
        width: 20%;
    }

    label:hover .tooltip2 {
        right: 40%;
    }
}

@media screen and (max-width: 767px) {
    .form-select {
        width: 55%;
    }

    .pageindex .container .sectiontitle p {
        font-size: 1em;
        line-height: 40px;
    }

    .tooltip2 {
        display: none;
    }

    footer .p p {
        display: inline-block;
        margin: 0 15px;

    }

    .page .details p {
        font-size: 18px;
        line-height: 35px;
    }

    footer .p p {
        font-size: 1rem !important;
    }

    .page .imagessection table caption,
    .page .imagessection .title p {
        font-size: 24px;
    }




}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .form-select {
        width: 20%;
    }

    .tooltip2 {
        display: none;

    }

    footer .p p {
        display: inline-block;
        margin: 0 20px;
    }

    .pageindex .tooltip2 {
        right: -42px;
    }
}

/* @media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 925px;
    }
} */